html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.nav {
    height: 50px;
    width: 40%;
    background: #cccccc;
    color: #fff;
    padding: 10px;
    display: none;
}

.nav ul {
    display: flex;
    list-style: none;
    margin: 0;

}

nav li {
    padding: 0 10px;
}

.nav a {
    color: #fff;
}

.nav.visible {
    display: block;
}

#button {
    margin-top: 20px;
}
